:root {
  --red: #e95952;
  --grey: #979697;
  --white: white;
}
#one {
  width: 100vw;
  height: 100vh;
  background-color: white;
}
#one .hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.nav-links {
  left: -2rem;
}
.nav-links img {
  display: inline-block;
}
.nav-links a {
  text-decoration: none;
  color: var(--grey);
  margin-right: 20px;
  position: relative;
}
#one main {
  margin: 5rem auto;
  width: 60vw;
  height: 100%;
}
#one .text {
  min-width: 800px;
}
#one .text h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 3.5rem;
}
#one .text p {
  width: 40%;
  font-size: 0.8rem;
  color: var(--grey);
  line-height: 1.1rem;
  border-left: 2px solid var(--grey);
  padding-left: 1.5rem;
  margin-bottom: 3.5rem;
}
.nav-links a::after {
  content: "";
  height: 1.7px;
  width: 0;
  background: darkgrey;
  position: absolute;
  left: 0;
  bottom: -10px;
}
.nav-links a:hover::after {
  width: 100%;
}
.nav-links textarea {
  border: 0;
  outline: none;
  resize: none;
  border-bottom: 1px solid black;
  display: inline-block;
  top: -3rem;
}
button {
  border: 0;
  color: white;
  padding: 0.5rem;
  background-color: var(--red);
}
button:hover {
  box-shadow: inset 0 0 10px grey;
}
#watch-div {
  width: 40%;
  height: 76%;
  min-width: 450px;
  position: absolute;
  top: 24%;
  left: 78%;
}
.watches {
  width: 100%;
  height: auto;
}
#one hr {
  margin-top: -9rem;
  color: rgb(240, 234, 234);
}

/* --------------------------------------------
page2
----------------------------------------------- */
#two {
  margin: 3rem 20%;
  position: relative;
  width: 100vw;
  height: 100vh;
  margin-bottom: 18%;
}
#two .text-box {
  margin-bottom: 3rem;
}
#two .text-box,
#two .textboxb {
  display: flex;
  flex-direction: row;
  width: 80vw;
  height: 40vh;
}
.text {
  width: 250px;
  height: 200px;
  margin-right: 3rem;
}
.text p {
  font-size: 0.9rem;
  line-height: 1.5rem;
}
.text h2 {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.learn {
  color: var(--red);
  font-weight: bold;
  display: flex;
  flex-direction: row;
}
.learn span {
  width: 2rem;
  height: 0.2rem;
  background-color: var(--red);
  position: relative;
  margin: 0.8rem 0.5rem 0 0;
}
.learn span:hover {
  width: 3.5rem;
}
/* -------------------------------------------
page2b
-------------------------------------------- */
.textboxb .img-div {
  width: 400px;
  height: 550px;
  background-image: url(img/preview.jpg);
  background-size: cover;
}
.textboxb .textb {
  width: 35%;
  margin-right: 3rem;
}
.textboxb .textb h2 {
  font-size: 2.5rem;
  font-weight: 900;
  margin: 7rem 0 3rem 0;
}
.textboxb .textb p {
  width: 80%;
  font-size: 0.8rem;
  color: var(--grey);
  line-height: 1.1rem;
  border-left: 2px solid var(--grey);
  padding-left: 1.5rem;
  margin-bottom: 3.5rem;
}

/*----------------------------------
page3
------------------------------------*/
#three {
  background-image: url(img/runners.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
}
#three .text {
  width: 30%;
  left: 60%;
  position: absolute;
  margin-top: 10rem;
}
#three .text p {
  width: 80%;
  font-size: 0.8rem;
  line-height: 1.1rem;
  border-left: 2px solid var(--white);
  padding-left: 1.5rem;
  margin-bottom: 3.5rem;
  color: var(--white);
}
#three .text h2 {
  font-size: 2.5rem;
  font-weight: 900;
  margin: 7rem 0 3rem 0;
  color: var(--white);
}

/*-------------------------------------------------------
Media query
-------------------------------------------------------*/
@media screen and (max-width: 1000px) {
  #two {
    margin-bottom: 40%;
  }
  #three .text {
    margin-top: 5rem;
  }
}
